@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap");
@import "tailwindcss";

:root {
  --font-kumba: "Kumbh Sans", sans-serif;
  --color-h4: #3c3939;
  --color-primary: #fd6067;
  --color-secondary: #365bc2;
}

@theme {
  --font-kumba: "Kumbh Sans", sans-serif;
  --color-black-h4: #3c3939;
  --color-primary: #fd6067;
  --color-secondary: #365bc2;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: var(--font-kumba);
  font-size: 15px;
  font-weight: 600;
  color: white;
}

/* heading */
h4 {
  font-size: 20px;
  font-weight: 400;
  color: var(--color-h4);
}
